# Secrets
.env

# Vector DB and outputs
vector_db/
results/

# Python junk
__pycache__/
*.pyc
venv/
.venv/

# Streamlit secrets (if you use it)
.streamlit/secrets.toml

# IDE/OS
.vscode/
.DS_Store
.ipynb_checkpoints